[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/monkeyWzr/hugo-theme-cactus.git
[submodule "themes/papermod"]
	path = themes/papermod
	url = git@github.com:adityatelange/hugo-PaperMod.git
