.prooftomb:after {
	content: "\220E";
}

.prooftomb {
	width: 0.8rem;
	font-size: 120%;
	font-weight: 900;

}

.proofbody {
	flex: 1;
}

.proofbody p:last-child,
.thmbody p:last-child {
	margin-bottom: 0rem;
}

.proofbodycontainer {
	display: flex;
	align-items: flex-end;
	border-left: 0.1rem solid lightgrey;
	margin-left: 0.2rem;
	padding-left: 0.5rem;
}

.proof {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.thmlike {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	counter-increment: theorem;
}

.proofheader {
	font-style: italic;
	border-bottom: 0.1rem solid lightgrey;
}

.thmheader {
	font-weight: bold;
	border-bottom: 0.1rem solid lightgrey;
}

.thmtype {
	font-variant: small-caps;
}

.thmtype:after {
	content: counter(theorem)
	;
}

.thmbody {
	border-left: 0.1rem solid lightgrey;
	margin-left: 0.2rem;
	padding-left: 0.5rem;
}